.charGeneratorContainer form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.charGeneratorContainer form .charField {
    width: 40%;
    margin: 20px 10px;
}

.charGeneratorContainer form .charField input, .charGeneratorContainer form .charField select {
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.charGeneratorContainer form .charField select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.charGeneratorContainer form .buttonGenerate {
    width: 100%;
    text-align: center;
}

.charGeneratorContainer form .buttonGenerate button {
    font-size: 20px;
}