

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Overpass';
}

body {
  background-image: url('../../public/parchmentBackground.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=checkbox], select {
  cursor: pointer;
}

input, select {
  border: none;
  outline: none;
}

